
/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v2 {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 2rem;
    border-radius: 5px;
    
    border-left: 0.5rem solid #000000 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}

label.css-mkogse.e16fv1kl2 {
    color: #f7768e !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
.st-emotion-cache-z5fcl4 {
  padding: 2rem 3rem 2rem 3rem;

}
.st-emotion-cache-bzui69 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.st-emotion-cache-ocqkz7 {
  column-gap:3rem;
}

.st-emotion-cache-ocqkz7{
  column-gap:2rem;
}

/* Side Bar */

.st-emotion-cache-16txtl3  {
  padding-top: 4rem;
  background-color: #ffffff;
  border:2px solid, #000000;
  overflow: hidden;
}

.st-emotion-cache-1s5d2c2 > p{
  text-align: justify;
}

Hide hamburger menu and footer
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}